.color{
    background-color: rgb(219, 26, 26);
    
}

#ribbon{
    background-color: rgb(219, 26, 26);
    background-image: repeating-linear-gradient(45deg, transparent, transparent 25px,rgb(131, 21, 21, 0.5) 25px, rgb(131, 21, 21, 0.5) 40px) ;
}

#ribbon ::after{
    content:´´;
    background-color: transparent;
    display: block;
    height: 20px;
    width: 50%;
    margin: 0 auto;
    position: relative;
    left: auto;
    margin-top: -40px;
}

#birthday{
    background-color:  rgb(219, 26, 26);
    position: relative;
    margin-top: -20px;
    z-index: 10;
    box-shadow:  0 0 10px rgb(0, 0, 0 ,0.5);
}

#birthday img{
    position: relative;
    margin-top: -30px;
}

.text-shadow{
    text-shadow: 0 3px 3px rgb(0, 0, 0 ,0.6);
}

#footer{
    background-image: url(../img/bg-04.png);
    background-color: rgb(224, 144, 24);
    background-size: 50px 50px;

}

.color_contacto{
    
    background-color: rgb(75, 73, 73);
    background-image: repeating-linear-gradient(45deg, transparent, transparent 25px,rgb(131, 21, 21, 0.5) 25px, rgb(131, 21, 21, 0.5) 40px) ;

}

.card{
    background: rgba(109, 106, 106, 0.8);
}

